@font-face {
    font-family: 'Raleway';
    src: url("../font/Raleway-Bold.ttf");
}

@font-face {
    font-family: 'RalewayRegular';
    src: url("../font/Raleway-Light.ttf");
}

@font-face {
    font-family: 'Helvetica';
    src: url("../font/Helvetica.ttf");
}
body{
    margin: 0;
}
/* Design laptop */
header, .page01{
    background-color: rgb(35, 32, 46);
    width: 100%;
    font-family: "Raleway";
    display: flex;
    color: #fff;
}

header{
    border-bottom: 1px solid #f7f7f72a;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 20px 0;
}
.logo-sayna{
    width: 80%;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    margin: auto;
}

.nav-txt, .nav-txt:hover{
    text-decoration: none;
    color: #fff;
}

.menu a {
    display: none;
    width: 153px;
    height: 120px;
    justify-content: center;
    align-items: center;
    margin: 0px 0.5px;
}
.getitnow, .getitnow:hover {
    color: #3d9f96;
}



.page01{
    padding-top: 20px;
    font-family: 'RalewayRegular';
    text-align: center;
}
.content{
    margin: auto;
    width: 90%;
    font-size: large;
}
.content-txt{
    margin: 30px 110px;
}
.page01-content-title span{
    font-family: 'Raleway';
}
.page01-content-soustitle{
    color: #3d9f96;
    font-family: 'Raleway';
    margin: 20px 0;
}
.buynow{
    border: none;
    box-shadow: none;
    padding: 30px 100px;
    background-color: #3d9f96;
    color: #fff;
    border-radius: 50px;
    font-family: 'Raleway';
    font-size: xx-large;
}

.btn-page01{
    margin-bottom: 30px;
}





/* section reseau social */
.reseau-social{
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}
.reseau-social .ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
}
.reseau-social .ul .li{
    
    margin: 0px 25px;
}
.social-hidden{
    display: none;
}
.reseau-social p{
    display: none;
}
.reseau-social .ul .li img{
    width: 70px;
}


/* section check our new app */
.check{
    font-family: 'Helvetica';
    text-align: center;
}
.our-app h1{
    font-family: 'RalewayRegular';
}
.our-app h1 span{
    font-family: 'Raleway';
}
.our-app{
    width: 80%;
    margin: auto;
    font-size: x-large;
}
.mobil-play{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/map_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
}
.mobil-play-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}
.play-midle{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}
.play-midle img{
    width: 300px;
}
.bloc-content-play{
    margin-top: 50px;
}
.bloc-content-play h2{
    display: flex;
    align-items: center;
    font-size: xx-large;
    margin-left: 27%;
}
.bloc-content-play img{
    width: 70px;
    margin-right: 20px;
}

/* section do */
.do{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    background-color: #30273d;
}
.do-content{
    text-align: center;
    font-family: 'Helvetica';
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    font-size: x-large;
}
.cirlce-do{
    width: 150px;
    height: 150px;
    background-color: #828282;
    border-radius: 100px;
    margin-bottom: 20px;
}
.name-do{
    color: #3d9f96;
    font-size: smaller;
}


/* section screen */
.screen{
    background-color: #f7f7f6;
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    font-family: 'RalewayRegular';
}
.screen-content{
    width: 80%;   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.liste-screen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.screen-title{
    font-size: xxx-large;
    margin: 70px 0px;
}
.screen-title span{
    font-family: 'Raleway';
}
.caption-screen{
    font-family: 'Raleway';
    font-size: x-large;
    margin: 50px 0px;
    text-align: center;
}
.liste-screen-img img{
    width: 400px;
}
.mobil-hidden{
    display: none;
}


/* section items */
.items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.items-content{
    width: 80%;
}
.items-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: 'Helvetica';
    margin: 50px 0px;
}
.items-app img{
    width: 80%;
}
.reverse{
    margin-top: 200px;
}
.items-txt{
    width: 100%;
    text-align: center;
}
.items-img{
    width: 100%;
    text-align: center;
}
.items-title{
    font-size: xx-large;
    font-family: 'RalewayRegular';
    margin: 20px 0px;
}
.items-title span{
    font-family: 'Raleway';
}
.items-txt-content{
    font-size: medium;
    color: #000;
}
.items-txt-content p{
    margin: 50px 0px;
    line-height: 1.6em;
}


/* footer css */
footer{
    width: 100%;
    
}
.fthead{
    background-color: #f9f9f9;
    display: flex;
    padding: 120px 100px 75px 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ft-title img {
    width: 70%;
    margin-bottom: 20px;
}
.ft-title{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 80px;
    font-family: 'Raleway';
    font-size: xxx-large;
}

.ft-left{
    
}
.ft-midle{
    width: 30%;
    margin: 0 50px;
}
.ft-right{
    margin-right: 50px;
}

.ft-content a, .ft-content, .social-media a, .ftft {
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: small;
    font-family: 'Helvetica';
    line-height: 1.6em;
}

.ftft{
    padding: 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.social-media a{
    margin: 0px 80px;
}
.copyright{
    width: 100%;
    margin: 50px 0px;
    font-size: small;
}
.social-media a img{
   width: 60px;
}
.social-media{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px 0px;
}